<h1 class="Head">Shows the details of selected user</h1>

<section class='section-container'>
  <div class='user'>
    <div class='profile-div'>
      <div class='profile-photo'>
      <%= image_tag(@user.photo.url, class: 'profile-photo') if @user.photo %>
      </div>
    </div>
    <div class='profile_name'>
      <h2 class='name'><%= @user.name %></h2>
      <div class='post_link'>
        <p>Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
  </div>

  <div class="Bio">
    <div class="Bio_box">
      <h3>Bio :</h3>
      <p><%= @user.bio %></p>
    </div>
  </div>

  <section class="posts_container">
    <% if @recent_posts.present? %>
    <% @recent_posts.each_with_index do |post, index| %>
        <div class="post">
        <h3>Post #<%= index+1 %></h3>
        <p class="post_text"><%= post.text %></p>
        <p class="comments_likes">
            Comments: <%= post.comments_counter %>,
            Likes: <%= post.likes_counter %>
        </p>
        </div>
    <% end %>
    <% else %>
    <p>No recent posts.</p>
    <% end %>

    <%= button_to user_post_path(@user), class: 'pagination-btn' do %>
      Pagination
    <% end %>
  </section>
</section>

