<section>
  <div class="container">
    <h2 class="h3">Forgot Your Password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, required: true,  autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.submit "Send Me Reset Password Instructions", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
