<!-- Heading -->
<h1 class="text-center mb-3">This is a list of all Posts written by <%= @user.name %></h1>

<!-- User details section -->
<section class="section-container">
  <div class="d-flex align-items-center mb-3 gap-3">
    <!-- Profile photo -->
    <div class="profile-div">
        <div class="border border-5 w-100 p-3">
          <%= image_tag('img-1.jpg', class: "profile-photo img-fluid") %>
        </div>
    </div>
    <!-- User name and post count -->
    <div class="d-flex flex-column">
      <% if @user %>
        <h2><%= @user.name %></h2>
        <div class="post-nums">
          <p class="post-count">Number of posts: <%= @user.posts_count %></p>
        </div>
      <% else %>
        <p>No user found.</p>
      <% end %>
    </div>
  </div>

  <!-- Recent posts section -->
  <section>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="border border-5 p-3 mb-3">
          <h3>Post #<%= post.id %></h3>
          <p class="post-text"><%= post.text %></p>
          <p class="d-flex justify-content-end">
            Comments: <%= post.comments_counter %>,
            Likes: <%= post.likes_counter %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p class="no-recent">No recent posts.</p>
    <% end %>
  </section>

  <!-- Comments section -->
  <div class="border border-5 mt-3 mb-3 p-3">
    <h4 class="mb-3">Comments:</h4>
    <% if @post.comments.present? %>
      <ul>
        <% @post.comments.each do |comment| %>
          <li><%= comment.user.name %>: <%= comment.text %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments found.</p>
    <% end %>
  </div>

  <!-- Next button -->
  <div class="text-center p-4">
    <%= link_to "Create new post", new_user_post_path(@user), class: "btn btn-outline-secondary rounded-pill m-2 text-decoration-none" %>
  </div>
</section>
