<!-- Heading -->
<h1 class="Head">Shows the details of posts for a given user</h1>

<section class="border border-5 p-1 mb-3">
  <% if @post %>
    <!-- Post details -->
    <div class="d-flex justify-content-between align-items-center" >
      <div class=top-post>
        <h2><%= @post.title %> by <%= @post.author.name %></h2>
        <p class="top_comments_likes">
          Comments: <%= @post.comments_counter %>,
          Likes: <%= @post.likes_counter %>
        </p>
      </div>
      <div>
        <p class="post_text"><%= @post.text %></p>
      </div>
    </div>
  <% else %>
    <!-- No recent posts message -->
    <p>No recent posts.</p>
  <% end %>
</section>

<section class="border border-5 p-1 mb-3">
<% if @post_comments && @post_comments.any? %>
<div class="comments">
  <h4>Comments:</h4>
  <ul>
    <% @post_comments.each do |comment| %>
      <li><%= comment.user.name %>: <%= comment.text %></li>
    <% end %>
  </ul>
</div>
<% else %>
<p>No comments found.</p>
<% end %>

<div class="text-center p-4">
  <h3>add like</h3>
  <div class='flex'>
   <%= button_to "Like", user_post_likes_path(@user, @post), method: :post, class: "btn btn-outline-secondary rounded-pill m-1 py-1 px-5" %>
  </div>
  
     <h3>Add a comment: </h3>
   <%= form_for [@user, @post, Comment.new] do |form| %>
  <div>
    <%= form.text_area :text, placeholder: "Add comment", class: "form-control"%>
  </div>
    <%= form.submit "Add Comment", class: "btn btn-outline-secondary rounded-pill m-2" %>
  <% end %>
  </div>
</section>
